<h1><%= @movie.title %></h1>
<p>Creation Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>
<p>Actors: <% @movie.sort_actors.each do |actor| %></p>
  <li><%= actor.name %>, <%= actor.age %></li>
<% end %>

<p>Average Age of Actors: <%= @movie.average_age_of_actors %></p>

<%= form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |form| %>
  <%= form.label :actor_id %>
  <%= form.text_field :actor_id %>
  
  <%= form.submit "Add Actor to Movie" %>
<% end %>